<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>ca.cgta.dataviewer.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/cgta_dataviewer/greet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>searchDocumentIDServlet</servlet-name>
    <servlet-class>ca.cgta.dataviewer.server.SearchDocumentIDServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>searchDocumentIDServlet</servlet-name>
    <url-pattern>/cgta_dataviewer/searchDocumentID</url-pattern>
  </servlet-mapping>

  
  <servlet>
    <servlet-name>searchMessageControlIDServlet</servlet-name>
    <servlet-class>ca.cgta.dataviewer.server.SearchMessageControlIDServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>searchMessageControlIDServlet</servlet-name>
    <url-pattern>/cgta_dataviewer/searchMessageControlID</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>CGTA_DataViewer.html</welcome-file>
  </welcome-file-list>

</web-app>
